---
layout: default
---

<div class="home container-fluid">

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
             <div class="row pack">

                {% for post in paginator.posts %}   
                    
                      <div class="col-md-4 card">
                        <div class="thumbnail">
                          {% if post.img %}
                          <img src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                          {% else %}
                          <img src="{{site.baseurl}}/images/simple-logo.png" alt="{{site.title}}">
                          {% endif %}
                          <div class="panel-body caption">
                            <h4>{{ post.title | truncate: 25 }}</h4>
                            <div class="row">
                              <span class="post-meta pull-right">
                                <small>{{ post.date | date: "%b %-d, %Y" }}</small>
                              </span>
                            </div>
                            <div class="body">
                              {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}
                              <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-primary btn-sm pull-right mt10" role="button">Go</a>
                            </div>
                          </div>
                        </div>
                      </div>

                {% endfor %}

              </div>       
        </div> 
    </div>

    <div class="row">
      <div class="col-md-4">  </div>  
      <div class="col-md-4">
   
        {% if paginator.total_pages > 1 %}

        <nav aria-label="Page navigation">
          <ul class="pagination">
            {% if paginator.previous_page %}
            <li class="bordered">
            {% else %}
            <li class="bordered disabled">
            {% endif %}
              <a href="#">
                <span aria-hidden="true" class="icon-arrow-previous"></span>
                <span class="sr-only">previous</span>
              </a>
            </li>
            
            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <li class="active"><span><em>{{ page }}</em></span></li>
              {% elsif page == 1 %}
              <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
              {% else %}
              <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
              {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <li class="bordered">
            {% else %}
            <li class="bordered disabled">
            {% endif %}
              <a href="#">
                <span aria-hidden="true" class="icon-arrow-next"></span>
                <span class="sr-only">next</span>
              </a>
            </li>
          </ul>
        </nav>

        {% endif %}
      </div>
      <div class="col-md-4">  </div>
    </div>
    
</div>