<!-- Remove the comments to compress html

---
layout: compress
--- 

-->
<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    
    <script async>
        (function() {
            var font = document.createElement('link'); 
            font.type = 'text/css'; 
            font.rel = 'stylesheet';
            font.href = '//fonts.googleapis.com/css?family=Raleway:400,700';
            var s = document.getElementsByTagName('link')[0]; 
            s.parentNode.insertBefore(font, s);
          })();
    </script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/liabru/jquery-match-height/master/jquery.matchHeight.js"></script>
<script type="text/javascript">
      $(".card .thumbnail").matchHeight();
</script>

   {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
